/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */
.color-1{
    background: #3A3A3A;
}

.color-2{
    background: black;
}

.color-3{
    background: cornflowerblue;
}
/* Textures or Patterns*/

.pattern-1{
    background: url();
}

.pattern-2{
    background: #AFBEE4;
}

.pattern-3{

}

/* Imagery */

.imagery-1{

}

/* Icons */


/* Typography */
h1{
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-family: 'Open Sans', sans-serif;
}

/* Forms */


/* Tables */


/* Cards */