/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */
.color-1{
    background: #3A3A3A;
}

.color-2{
    background: black;
}

.color-3{
    background: cornflowerblue;
}
/* Textures or Patterns*/

.pattern-1{
    background: url();
}

.pattern-2{
    background: #AFBEE4;
}

.pattern-3{

}

/* Imagery */

.imagery-2{
    

}



/* Icons */

/*Nav*/

nav{
    
}

li{
    float: left;
    padding: 1;
    padding-right: 3em;
    text-transform: uppercase;
    letter-spacing: .05em;
    font-weight: lighter;
    color: #3a3a3a;
}

ul{
    letter-spacing: 5px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    
}

/* Typography */
h1{
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-family: 'Open Sans', sans-serif;
}

h3{

}

p{
    padding: 1;
    padding-right: 3em;
    text-transform: uppercase;
    letter-spacing: .05em;
    font-weight: lighter;
    color: #3a3a3a;
}
/* Forms */


/* Tables */


/* Cards */